<h1>Bem-Vindo à API Quote Searcher</h1>
<% if user_signed_in? %>
  <p>Seus dados para acessar à API são:</p>
  <p><b>URL:</b> 'api/v1/quotes'</p>
  <p><b>E-mail: </b><%= current_user.email  %></p>
  <p><b>Token: </b><%= current_user.authentication_token %></p>
  <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
<% else %>
 <p><%= link_to "Sign up", new_user_registration_path %></p>
 <p><%= link_to "Login", new_user_session_path %></p>
<% end %>